<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="home">
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="/">kthevi</a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Shop</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/">Visit us</a></li>
                    <li><a href="/">Contact</a></li>
                </ul>
                <div>
                    <a href=""><i class="fas fa-shopping-bag"></i></a>
                </div>
            </nav>
            <div class="hamburger_menu">
                <div class="_layer -top"></div>
                <div class="_layer -mid"></div>
                <div class="_layer -bottom"></div>
            </div>
        </div>
    </header>
    <main class="main_container">
        <section class="index">
            <div class="image_main">
                <img src="/images/pexels-shahin-khalaji-9975780.jpg" alt="">
            </div>
            <div class="text_main">
                <h2>new fall- winter</h2>
                <h2>colletion</h2>
                <p>Shop the latest fashion</p>
                <a href="/">shop now</a>
            </div>
        </section>
        <section class="categories">
            <a href="">
                <h3>ACCESORIOS</h3>
                <img src="/images/pexels-pineapple-supply-co-137077.jpg" alt="">
            </a>
            <a href="">
                <h3>HOMBRES</h3>
                <img src="/images/categoria-hombre.jpeg" alt="">
            </a>
            <a href="">
                <h3>MUJER</h3>
                <img src="/images/categoria-mujer.jpeg" alt="">
            </a>
        </section>

        <section class="products-section" id="products">
            <h3>Products in sale</h3>

            <div class="container-items">
                <div class="item">
                    <a href="/">
                        <figure>
                            <img src="/images/products/jean_copia_112693210_portada_b.jpg" alt="">
                        </figure>
                    </a>
                    <h4>title complete</h4>
                    <div class="info">
                        <span class="">$5000</span>
                        <ul class="">
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#000000"></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#5B6857"></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#5B6857"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="extra">
                        <a href="/">agregar a carrito</a>
                        <a href="/"><i class="fas fa-heart"></i></a>

                    </div>
                </div>
                <div class="item">
                    <a href="/">
                        <figure>
                            <img src="/images/products/image-1618270492327.jpg" alt="">
                        </figure>
                    </a>
                    <h4>title complete</h4>
                    <div class="info">
                        <span class="">$5000</span>
                        <ul class="">
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#000000"></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#5B6857"></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#5B6857"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="extra">
                        <a href="/">agregar a carrito</a>
                        <a href="/"><i class="fas fa-heart"></i></a>

                    </div>
                </div>
                <div class="item">
                    <a href="/">
                        <figure>
                            <img src="/images/products/image-1618270018167.jpg" alt="">
                        </figure>
                    </a>
                    <h4>title complete</h4>
                    <div class="info">
                        <span class="">$5000</span>
                        <ul class="">
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#000000"></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#5B6857"></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#5B6857"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="extra">
                        <a href="/">agregar a carrito</a>
                        <a href="/"><i class="fas fa-heart"></i></a>

                    </div>
                </div>
                <div class="item">
                    <a href="/">
                        <figure>
                            <img src="/images/products/image-1618269756857.jpg" alt="">
                        </figure>
                    </a>
                    <h4>title complete</h4>
                    <div class="info">
                        <span class="">$5000</span>
                        <ul class="">
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#000000"></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#5B6857"></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#5B6857"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="extra">
                        <a href="/">agregar a carrito</a>
                        <a href="/"><i class="fas fa-heart"></i></a>

                    </div>
                </div>
                <div class="item">
                    <a href="/">
                        <figure>
                            <img src="/images/products/image-1618156291917.jpg" alt="">
                        </figure>
                    </a>
                    <h4>title complete</h4>
                    <div class="info">
                        <span class="">$5000</span>
                        <ul class="">
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#000000"></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#5B6857"></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#5B6857"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="extra">
                        <a href="/">agregar a carrito</a>
                        <a href="/"><i class="fas fa-heart"></i></a>

                    </div>
                </div>
                <div class="item">
                    <a href="/">
                        <figure>
                            <img src="/images/products/image-1618155884265.jpg" alt="">
                        </figure>
                    </a>
                    <h4>title complete</h4>
                    <div class="info">
                        <span class="">$5000</span>
                        <ul class="">
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#000000"></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#5B6857"></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#5B6857"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="extra">
                        <a href="/">agregar a carrito</a>
                        <a href="/"><i class="fas fa-heart"></i></a>

                    </div>
                </div>
                <div class="item">
                    <a href="/">
                        <figure>
                            <img src="/images/products/image-1618273671493.jpg" alt="">
                        </figure>
                    </a>
                    <h4>title complete</h4>
                    <div class="info">
                        <span class="">$5000</span>
                        <ul class="">
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#000000"></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#5B6857"></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#5B6857"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="extra">
                        <a href="/">agregar a carrito</a>
                        <a href="/"><i class="fas fa-heart"></i></a>

                    </div>
                </div>
                <div class="item">
                    <a href="/">
                        <figure>
                            <img src="/images/products/image-1618326276209.jpg" alt="">
                        </figure>
                    </a>
                    <h4>title complete</h4>
                    <div class="info">
                        <span class="">$5000</span>
                        <ul class="">
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#000000"></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#5B6857"></span>
                                </label>
                            </li>
                            <li>
                                <label>
                                    <input type="radio" name="color" value="">
                                    <span class="swatch " style="background-color:#5B6857"></span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="extra">
                        <a href="/">agregar a carrito</a>
                        <a href="/"><i class="fas fa-heart"></i></a>

                    </div>
                </div>
        </section>

        <section class="contacts">

        </section>
    </main>
    <script src="/js/header.js"></script>
</body>