<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="home">
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="/">kthevi</a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Shop</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/">Visit us</a></li>
                    <li><a href="/">Contact</a></li>
                </ul>
                <div>
                    <a href=""><i class="fas fa-shopping-bag"></i></a>
                </div>
            </nav>
            <div class="hamburger_menu">

            </div>
        </div>
    </header>
    <main>
        <div class="login">
            <section class="box-1">
                <form class="form">
                    <h2>Log in</h2>
                    <div class="form-input">
                        <input id="email" type="email" name="email" class="input" placeholder="E-mail" />
                        <span class='errors'>error</span>
                    </div>

                    <div class="form-input">
                        <input id="password" type="password" name="password" class="input" placeholder="Password" />
                        <span class='errors'>error</span>
                    </div>

                    <div class="remember">
                        <div>
                            <input type="checkbox" name="remember" id="remember" />
                            <label for="remember">Remember me</label>
                        </div>
                        <a href="/">Forget Password ?</a>
                    </div>

                    <button type="submit" class="button_submit">
                        Log in
                    </button>
                </form>
                <div class='container_login_footer'>
                    <span>Or login with</span>
                    <a href="#" class="social">Facebook</a>
                    <a href="#" class="social">LinkedIn</a>
                    <a href="#" class="social">Google</a>
                </div>
            </section>
            <section class="box-2">
                <h2>Welcome !</h2>
                <img src="/images/image6.svg" alt="" />
            </section>
        </div>
    </main>
</body>

</html>