<header class="header">
    <div class="container">
        <div class="logo">
            <a href="/">kthevi</a>
        </div>
        <nav>
            <ul>
                <li><a href="/">Shop</a></li>
                <li><a href="/">About</a></li>
                <li><a href="/">Visit us</a></li>
                <li><a href="/">Contact</a></li>
            </ul>
            <div>
                <a href=""><i class="fas fa-shopping-bag"></i></a>
            </div>
        </nav>
        <div class="hamburger_menu">
            <div class="_layer -top"></div>
            <div class="_layer -mid"></div>
            <div class="_layer -bottom"></div>
        </div>
    </div>
</header>