<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/style.css">
</head>

<body class="home">
    <header class="header">
        <div class="container">
            <div class="logo">
                <a href="/">kthevi</a>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Shop</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/">Visit us</a></li>
                    <li><a href="/">Contact</a></li>
                </ul>
                <div>
                    <a href=""><i class="fas fa-shopping-bag"></i></a>
                </div>
            </nav>
            <div class="hamburger_menu">

            </div>
        </div>
    </header>
    <main>
        <div class="login">

            <section class="box-2 extra">
                <h2>Be part of our awesome team and have fun with us</h2>
                <img src="/images/image7.svg" alt="" />
            </section>

            <section class="box-1">
                <form class="form">
                    <h2>Sign in</h2>
                    <div class="form-input">
                        <input id="name" type="text" name="name" class="input" placeholder="Name" />
                        <span class='errors'>error</span>
                    </div>

                    <div class="form-input">
                        <input id="lastname" type="text" name="lastname" class="input" placeholder="Last name" />
                        <span class='errors'>error</span>
                    </div>

                    <div class="form-input">
                        <input id="email" type="email" name="email" class="input" placeholder="E-mail" />
                        <span class='errors'>error</span>
                    </div>

                    <div class="form-input">
                        <input id="password" type="password" name="password" class="input" placeholder="Password" />
                        <span class='errors'>error</span>
                    </div>

                    <div class="form-input">
                        <input id="password2" type="password" name="password2" class="input"
                            placeholder="Confirmar password" />
                        <span class='errors'>error</span>
                    </div>

                    <button type="submit" class="button_submit">
                        Sign in
                    </button>
                </form>
            </section>
        </div>
    </main>
</body>

</html>